<?xml version="1.0" encoding="utf-8"?>
<odoo>
       
        <menuitem id="hospital_root_menu" 
                  name= "Hospital"
                  sequence= "0" />
          
        <menuitem id="patient_menu_master" 
                  name= "Patient Detail"
                  parent= "hospital_root_menu"
                  sequence= "0" />

        

</odoo>
